.panel-workspace-indicator {
    /*padding: 2px 6px;*/
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    border-radius: 6px; /* More rounded borders */
}

.panel-workspace-indicator-box {
    padding: 2px 0;
}

.panel-workspace-indicator-box .workspace {
    width: 40px;
    border-radius: 12px; /* More rounded borders */
    color: #c0caf5; /* Workspace number color */
}

.panel-workspace-indicator,
.panel-workspace-indicator-box .workspace {
    border: 1px solid #414868;
    background-color: #1f2335; /* Dark background color */
}

.panel-workspace-indicator-box .workspace {
    background-color: #1f2335; /* Dark background color */
    border-left-width: 0;
}

.panel-workspace-indicator-box .workspace:first-child {
    border-left-width: 1px;
}

.workspace-indicator-active {
    background-color: #7aa2f7; /* Light gray background for active workspace */
    color: #1f2335; /* Black letters for active workspace */
}
